{% extends 'base.html' %}
{% block title %} {{ post.title_tag|title }} {% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<h4>By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }} </h4>
<!-- {% if user.is_authenticated %}
<small><a href="{% url 'UpdateBlog' post.pk %}">Edit</a></small>
{% if perms.blog.delete_blog %}
<small class="ms-2"><a href="{% url 'DeleteBlog' post.pk %}">Delete</a></small>
{% endif %}
{% endif %} -->
<hr>
<br>
{% if post.header_image %}
<img src="{{ post.header_image.url }}" alt="" class="w-25">
{% endif %}
<br>
{{ post.body | safe }}

<br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% endblock %}